@import "utilities/variables";

body {
  background: #f9f9f9;
}

.container {
  max-width: 1160px;
  margin-bottom: $elements-spacing;
}

.header, .footer {
  margin-left: $elements-spacing;
  margin-right: $elements-spacing;
}
