a:hover {
	color: #673AB7;
}

.navbar-lg .navbar-nav > li > a:hover {
	color:#673AB7;
}

.navbar-login a:hover {
	border:2px solid #673AB7 !important;
	color:#673AB7;
}

.navbar-login a {
	background: #673AB7;
	border:2px solid #673AB7;
}

.dropdown-menu > li > a:hover {
	color: #673AB7;
}

.intro6 p.lead {
	color: #673AB7;
}

.intro16 li i {
	color: #673AB7;
}

.intro18 .intro-form2-dark {
	background: #673AB7;
}

.app-btn a {
	background: #673AB7;
}

.btn.btn-primary {
	background: #673AB7;
	border: 1px solid #673AB7;
}

.service-box i {
	color: #673AB7;
}

.service2 {
	background: #673AB7;
}

.s2-box:hover .s2-box-ico div {
	color: #673AB7;
}

.icon-box-square .text-center span {
	color: #673AB7;
}

.list li i {
	color: #673AB7;
}

.ai-list ul li i {
	color: #673AB7;
}

.info-content2 {
	background: #673AB7 !important;
}

.video-box:hover span {
	color: #673AB7;
}

.video-box:hover a span {
	color: #673AB7;
}

.fc-info a {
	color: #673AB7;
}

.pricing__title {
	color: #673AB7;
}

.pricing__item .btn {
	background: #673AB7;
	border-color: #673AB7;
}

.rmore {
	color: #673AB7;
}

.pagination > li.active a:hover ,
.pagination > li a:hover ,
.pagination > li a:focus ,
.pagination > li.active a {
	background: #673AB7;
	border: 1px solid #673AB7;
}

.widget_categories ul li a:hover {
	color: #673AB7;
}

.portfolio-filter li a.active {
	color: #673AB7;
	border: 2px solid #673AB7;
}

.c-info i {
	color: #673AB7;
}

#contact-form {
	background: #673AB7;
}

.progress-bar-success {
	background-color: #673AB7;
}

.bg-primary {
	background: #673AB7;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	color: #673AB7 !important;
}

.nav-tabs > li > a:after {
	background: #673AB7;
}

.tab-nav > li > a:after {
	background: #673AB7;
}

.lead a {
	color: #673AB7;
}

blockquote {
	border-left: 5px solid #673AB7;
}

.contact-info i {
	color: #673AB7;
}

blockquote.inverse {
	border-right: 5px solid #673AB7;
}

.btn-circle:hover,
.btn-info {
	background: #673AB7 !important;
	border-color: #673AB7 !important;
}

.process-step2 .btn-circle:hover,
.process-step2 .btn-info {
	background: #673AB7 !important;
	border-color: #673AB7 !important;
}

.stats1-info i {
	color: #673AB7;
}

.dropcap-color .dropcap-square {
	border: 2px solid #673AB7;
	color: #673AB7;
}

.dropcap-color .dropcap-radius {
	border: 2px solid #673AB7;
	background: #673AB7;
}

.dropcap-color .dropcap-round {
	border: 2px solid #673AB7;
	background: #673AB7;
}

.cta-btn:hover {
	background: #673AB7;
	border: 2px solid #673AB7;
}

.cta-wrap.bg-dark .cta-btn:hover {
	background: #673AB7;
	border: 2px solid #673AB7;
}

.pricing2 .price {
	background-color: #673AB7;
}

.pricing2 .btn {
	background: #673AB7;
	border-color: #673AB7;
}

@media only screen and (min-width: 280px)  and (max-width: 767px)  {

.navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
	color: #673AB7 !important;
}

}



















