<:Body>
  <div class="sequence-wrapper col-md-4 col-sm-6">
    <div class="sequence text-center">
      <a e-click="play(attrs.audio_context, attrs.tempo)" title="Play" class="play"></a>
      <label name="Loop Mode">Loop Mode : </label>
      <input e-click="reload" type="checkbox" checked="{{ _loop_mode }}" />

      <p>{{ _title }}</p>
      <!--<button e-click="stop">Stop</button>-->

      <div class="volume_wrapper">
        <input e-mousemove="set_volume" class="volume" type="range" name="{{ _title }}_volume" min="0" max="100" value="{{ _volume }}">
      </div>

      <div class="notes">
        <select class="controls" e-change="change_notes" name="quantity" value="{{ _quantity }}">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="8">8</option>
        </select>

        <div class="controls values">
          {{ _notes.each_with_index do |note, index| }}
            <:note index="{{ index }}" note="{{ note }}" model="{{ self.model }}" audio_sequence="{{ audio_sequence }}"/>
          {{ end }}
        </div>
      </div>

      <label for="{{ _title_effect }}">Type : </label>
      <select class="controls" e-change="set_effect" name="{{ _title }}_effect" value="{{ _effect }}">
        <option value="sine">sine</option>
        <option value="square">square</option>
        <option value="sawtooth">sawtooth</option>
        <option value="triangle">triangle</option>
      </select>
      <!--<p e-keyup="play_live_note" e-keydown="stop_live_note"></p>-->
    </div>
  </div>

<!--TODO: since there is a problem with view scopes, the sequence has to be-->
<!--passed manually to the each binding , but this only works when the page
is loaded, the sequence is lost once the each binding is rerendered-->
<:Note>
  <select e-change="reload_audio_sequence(attrs.audio_sequence)" name="note{{ attrs.index }}" value="{{ attrs.note._value }}">
    <option value="-">-</option>
    <option value="B#2">B#2</option>
    <option value="B#3">B#3</option>
    <option value="B#4">B#4</option>
    <option value="B#5">B#5</option>
    <option value="B#6">B#6</option>
    <option value="B#7">B#7</option>
    <option value="C2">C2</option>
    <option value="C3">C3</option>
    <option value="C4">C4</option>
    <option value="C5">C5</option>
    <option value="C6">C6</option>
    <option value="C7">C7</option>
    <option value="C#2">C#2</option>
    <option value="C#3">C#3</option>
    <option value="C#4">C#4</option>
    <option value="C#5">C#5</option>
    <option value="C#6">C#6</option>
    <option value="C#7">C#7</option>
    <option value="Db2">Db2</option>
    <option value="Db3">Db3</option>
    <option value="Db4">Db4</option>
    <option value="Db5">Db5</option>
    <option value="Db6">Db6</option>
    <option value="Db7">Db7</option>
    <option value="D2">D2</option>
    <option value="D3">D3</option>
    <option value="D4">D4</option>
    <option value="D5">D5</option>
    <option value="D6">D6</option>
    <option value="D7">D7</option>
    <option value="D#2">D#2</option>
    <option value="D#3">D#3</option>
    <option value="D#4">D#4</option>
    <option value="D#5">D#5</option>
    <option value="D#6">D#6</option>
    <option value="D#7">D#7</option>
    <option value="Eb2">Eb2</option>
    <option value="Eb3">Eb3</option>
    <option value="Eb4">Eb4</option>
    <option value="Eb5">Eb5</option>
    <option value="Eb6">Eb6</option>
    <option value="Eb7">Eb7</option>
    <option value="E2">E2</option>
    <option value="E3">E3</option>
    <option value="E4">E4</option>
    <option value="E5">E5</option>
    <option value="E6">E6</option>
    <option value="E7">E7</option>
    <option value="Fb2">Fb2</option>
    <option value="Fb3">Fb3</option>
    <option value="Fb4">Fb4</option>
    <option value="Fb5">Fb5</option>
    <option value="Fb6">Fb6</option>
    <option value="Fb7">Fb7</option>
    <option value="E#2">E#2</option>
    <option value="E#3">E#3</option>
    <option value="E#4">E#4</option>
    <option value="E#5">E#5</option>
    <option value="E#6">E#6</option>
    <option value="E#7">E#7</option>
    <option value="F2">F2</option>
    <option value="F3">F3</option>
    <option value="F4">F4</option>
    <option value="F5">F5</option>
    <option value="F6">F6</option>
    <option value="F7">F7</option>
    <option value="F#2">F#2</option>
    <option value="F#3">F#3</option>
    <option value="F#4">F#4</option>
    <option value="F#5">F#5</option>
    <option value="F#6">F#6</option>
    <option value="F#7">F#7</option>
    <option value="Gb2">Gb2</option>
    <option value="Gb3">Gb3</option>
    <option value="Gb4">Gb4</option>
    <option value="Gb5">Gb5</option>
    <option value="Gb6">Gb6</option>
    <option value="Gb7">Gb7</option>
    <option value="G2">G2</option>
    <option value="G3">G3</option>
    <option value="G4">G4</option>
    <option value="G5">G5</option>
    <option value="G6">G6</option>
    <option value="G7">G7</option>
    <option value="G#2">G#2</option>
    <option value="G#3">G#3</option>
    <option value="G#4">G#4</option>
    <option value="G#5">G#5</option>
    <option value="G#6">G#6</option>
    <option value="G#7">G#7</option>
    <option value="Ab2">Ab2</option>
    <option value="Ab3">Ab3</option>
    <option value="Ab4">Ab4</option>
    <option value="Ab5">Ab5</option>
    <option value="Ab6">Ab6</option>
    <option value="Ab7">Ab7</option>
    <option value="A2">A2</option>
    <option value="A3">A3</option>
    <option value="A4">A4</option>
    <option value="A5">A5</option>
    <option value="A6">A6</option>
    <option value="A7">A7</option>
    <option value="A#2">A#2</option>
    <option value="A#3">A#3</option>
    <option value="A#4">A#4</option>
    <option value="A#5">A#5</option>
    <option value="A#6">A#6</option>
    <option value="A#7">A#7</option>
    <option value="Bb2">Bb2</option>
    <option value="Bb3">Bb3</option>
    <option value="Bb4">Bb4</option>
    <option value="Bb5">Bb5</option>
    <option value="Bb6">Bb6</option>
    <option value="Bb7">Bb7</option>
    <option value="B2">B2</option>
    <option value="B3">B3</option>
    <option value="B4">B4</option>
    <option value="B5">B5</option>
    <option value="B6">B6</option>
    <option value="B7">B7</option>
    <option value="Cb2">Cb2</option>
    <option value="Cb3">Cb3</option>
    <option value="Cb4">Cb4</option>
    <option value="Cb5">Cb5</option>
    <option value="Cb6">Cb6</option>
    <option value="Cb7">Cb7</option>
  /select>
