<:Deleting>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" id="loop-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete Loop</h4>
          </div>

          <div class="modal-body">
            <p>Are you sure want to delete your loop ?</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button e-click="attrs.delete_loop.destroy" type="button" class="btn btn-danger" data-dismiss="modal">Yes, Delete</button>
          </div>
        </div>
      </div>
    </div>

<:Title>
  My Loops

<:Body>
  <:banner title="My Loops" description="Manage your set of loops" />

  <div class="elements-content">
    <div class="container">


      <button e-click="set_loop_defaults" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        New Loop
      </button>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" id="loop-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Loop</h4>
            </div>

            <form e-submit="add_loop" role="form">
              <div class="modal-body">
                <div class="form-group">
                  <label for="Title">Title : </label>
                  <input name="Title" type="text" class="form-control" value="{{ page._loop_title }}">
                </div>
                <div class="form-group">
                  <label for="Sequences">Sequences : </label>
                  <select name="Sequences" value="{{ page._loop_sequences_size }}">
                    {{ (1..8).to_a.each do |number| }}
                      <option value="{{ number }}">{{ number }}</option>
                    {{ end }}
                  </select>
                </div>
                <div class="form-group">
                  <label for="Size">Size : </label>
                  <select name="Size" value="{{ page._loop_size }}">
                    {{ (5..32).to_a.each do |number| }}
                      <option value="{{ number }}">{{ number }}</option>
                    {{ end }}
                  </select>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submit" class="btn btn-primary">Create Loop</button>
              </div>
            </form>

          </div>
        </div>
      </div>

      <table class="table" id="loop-index">
        <thead>
          <tr>
            <th>Name</th>
            <th>Sequences</th>
            <th>Size</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{ Volt.current_user._loops.each do |current_loop| }}
            <tr>
              <td><a href="{{ url_for component: 'music', controller: 'loops', action: 'editor', username: user_name, title: current_loop._title  }}">{{ current_loop._title }}</a></td>
              <td>{{ current_loop._sequences.length }}</td>
              <td>{{ current_loop._size }}</td>
              <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                  Delete
                </button>
              </td>
            </tr>
            <:deleting delete_loop="{{ current_loop }}" />
          {{ end }}
        </tbody>
      </table>



    </div>
  </div>
