<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <:nav href="/">Home</:nav>
      <:nav href="/about">About</:nav>
      {{ if Volt.fetch_current_user }}
        <!--FIXME: why it doesn't resolve the promise for users?-->
        <:nav href="{{ url_for component: 'main', controller: 'main', action: 'loops', username: Volt.fetch_current_user._username.value }}">Loops</:nav>
      {{ end }}
      <:user_templates:menu />
    </ul>
    <h3 class="text-muted">loopify</h3>
  </div>

  <div class="container">
    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}
  </div>

  <div class="footer">
    <p>&copy; Company {{ Time.now.year }}</p>
  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

