<:Title>
  Loop Editor
<:Body>
  <h4>
    <p id="title">{{ current_loop._title }}</p>
  </h4>

  <div id="loop-header">
    <div id="left-controls">
      <a href="#" e-click="play_grid" title="Play" class="play main-control"></a>
    </div>

    <div id="right-controls">
      <div>
        <label for="size">Length : </label>
        <select name="size" value="{{ current_loop._size }}">
          {{ (4..32).to_a.each do |number| }}
            <option value="{{ number }}">{{ number }}</option>
          {{ end }}
        </select>
      </div>

      <div>
        <label for="tempo">Tempo : </label>
        <select name="tempo" value="{{ current_loop._tempo }}">
          {{ (1..320).to_a.each do |number| }}
            <option value="{{ number }}">{{ number }}</option>
          {{ end }}
        </select>
      </div>
    </div>
  </div>

  <div id="grid">
    <strong><p>Schedule Grid : </p></strong>
    <:loops:grid />
  </div>

  {{ current_loop._sequences.each do |sequence| }}
    <!--FIXME: try not to use the value method to resolve the promise-->
    <:sequences:controls model="{{ sequence }}" audio_context="{{ audio_context }}" tempo="{{ current_loop._tempo.value }}" />
  {{ end }}
