<:Title>
  Loop Editor
<:Body>
  <div id="loop-header" />
    <select name="tempo" value="{{ current_loop._tempo }}">
      {{ (1..170).to_a.each do |number| }}
        <option value="{{ number }}">{{ number }}</option>
      {{ end }}
    </select>

    <input name="volume" type="text" value="{{ current_loop._volume }}" />

    <p>{{ current_loop._title }}</p>

  <div id="patterns-wrapper">
    {{ current_loop._sequences.each do |sequence| }}
      <:loops:grid />
    {{ end }}
  </div>

  {{ current_loop._sequences.each do |sequence| }}
    <!--FIXME: try not to use the value method to resolve the promise-->
    <:sequences:controls model="{{ sequence }}" audio_context="{{ audio_context }}" tempo="{{ current_loop._tempo.value }}" />
  {{ end }}
